.custom-card {
    color: aliceblue;
    background-color: #00aa71;
}

.custom-btn {
    color: #E3DAC9;
    background-color: #6f42c1;
}

.weather-header {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
